
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/storage.ide-wal
MusicPlayer/.vs/MusicPlayer/v15/.suo
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/db.lock
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/storage.ide
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/storage.ide-shm
MusicPlayer/bin/Debug/MusicPlayer.exe
MusicPlayer/bin/Debug/MusicPlayer.exe.config
MusicPlayer/bin/Debug/MusicPlayer.pdb
MusicPlayer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MusicPlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MusicPlayer/obj/Debug/MainWindow.baml
MusicPlayer/obj/Debug/MainWindow.g.cs
MusicPlayer/obj/Debug/MainWindow.g.i.cs
MusicPlayer/obj/Debug/MusicPlayer.csproj.FileListAbsolute.txt
MusicPlayer/obj/Debug/MusicPlayer.csproj.GenerateResource.cache
MusicPlayer/obj/Debug/MusicPlayer.csprojResolveAssemblyReference.cache
MusicPlayer/obj/Debug/MusicPlayer.exe
MusicPlayer/obj/Debug/MusicPlayer.g.resources
MusicPlayer/obj/Debug/MusicPlayer.pdb
MusicPlayer/obj/Debug/MusicPlayer.csproj.CoreCompileInputs.cache
MusicPlayer/obj/Debug/MusicPlayer.Properties.Resources.resources
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.cache
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.i.cache
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.lref
MusicPlayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicPlayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicPlayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicPlayer/obj/Release/MusicPlayer.csproj.CoreCompileInputs.cache
MusicPlayer/obj/Release/MusicPlayer_MarkupCompile.cache
MusicPlayer/obj/Release/MusicPlayer_MarkupCompile.lref
MusicPlayer/obj/Debug/MainWindow.g.cs
*.cs
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.i.lref
MusicPlayer/obj/Debug/App.baml
MusicPlayer/obj/Debug/MusicPlayer.csprojAssemblyReference.cache
MusicPlayer/.vs/MusicPlayer/v16/Server/sqlite3/storage.ide
MusicPlayer/.vs/MusicPlayer/v16/Server/sqlite3/db.lock
MusicPlayer/.vs/MusicPlayer/v16/.suo
MusicPlayer/.vs/MusicPlayer/v16/Server/sqlite3/storage.ide-shm
MusicPlayer/.vs/MusicPlayer/v16/Server/sqlite3/storage.ide-wal
MusicPlayer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# TextMesh Pro files
[Aa]ssets/TextMesh*Pro/

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
*.bin
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

# End of https://www.gitignore.io/api/eclipse
*.d
*.o
*.mk
*.elf
*.hex
STM32F4/Debug/makefile
*.list
*.map
STM32F4/.mxproject
*.cfg
*.s
*.ld
*.fbx
