
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/storage.ide-wal
MusicPlayer/.vs/MusicPlayer/v15/.suo
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/db.lock
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/storage.ide
MusicPlayer/.vs/MusicPlayer/v15/Server/sqlite3/storage.ide-shm
MusicPlayer/bin/Debug/MusicPlayer.exe
MusicPlayer/bin/Debug/MusicPlayer.exe.config
MusicPlayer/bin/Debug/MusicPlayer.pdb
MusicPlayer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MusicPlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MusicPlayer/obj/Debug/MainWindow.baml
MusicPlayer/obj/Debug/MainWindow.g.cs
MusicPlayer/obj/Debug/MainWindow.g.i.cs
MusicPlayer/obj/Debug/MusicPlayer.csproj.FileListAbsolute.txt
MusicPlayer/obj/Debug/MusicPlayer.csproj.GenerateResource.cache
MusicPlayer/obj/Debug/MusicPlayer.csprojResolveAssemblyReference.cache
MusicPlayer/obj/Debug/MusicPlayer.exe
MusicPlayer/obj/Debug/MusicPlayer.g.resources
MusicPlayer/obj/Debug/MusicPlayer.pdb
MusicPlayer/obj/Debug/MusicPlayer.csproj.CoreCompileInputs.cache
MusicPlayer/obj/Debug/MusicPlayer.Properties.Resources.resources
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.cache
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.i.cache
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.lref
MusicPlayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicPlayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicPlayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicPlayer/obj/Release/MusicPlayer.csproj.CoreCompileInputs.cache
MusicPlayer/obj/Release/MusicPlayer_MarkupCompile.cache
MusicPlayer/obj/Release/MusicPlayer_MarkupCompile.lref
MusicPlayer/obj/Debug/MainWindow.g.cs
*.cs
MusicPlayer/obj/Debug/MusicPlayer_MarkupCompile.i.lref
MusicPlayer/obj/Debug/App.baml
